<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laalsobuj.managementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManagementApp">
        <activity android:name="com.laalsobuj.managementapp.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.laalsobuj.managementapp.DashBoard.UpazilaWiseMerchantAndProductActivity" />
        <activity android:name="com.laalsobuj.managementapp.DashBoard.DistrictAndUpazilaVsProductListActivity" />
        <activity android:name="com.laalsobuj.managementapp.DashBoard.TotthoApaWiseMerchantAndProductActivity" />
        <activity android:name="com.laalsobuj.managementapp.DashBoard.DistrictAndUpazilaWiseMrAndPdActivity" />
        <activity android:name="com.laalsobuj.managementapp.DashBoard.WeeklyMerchantRegisterActivity" />
        <activity android:name="com.laalsobuj.managementapp.MainActivity">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>